@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bem vindo ao simulador de emprestimos</a>.</p>
    <p>Para utilizar o sistema é só criar um registro, se já é cadastrado faça seu LOGIN</a>.</p>
    <p>Para utilizar a autenticação em 2 fatores deverá ser habilitado nas configurações de conta</a>.</p>
</div>